
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

:root {
    --bg-card: #1A261C;
    --color-green: rgb(17, 216, 17);
  }
/* ---Reset ----*/  

* {
    box-sizing: border-box;
}
html {
    font-family: 'Inter', sans-serif;
}
h1, h2, h3, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}
input{
    font-family: inherit;
    border: none;
}

img{
    display: block;
}





